.idea/
prediction_model/__pycache__/
prediction_model/config/__pycache__/
prediction_model/processing/__pycache__/
test/__pycache__/

build/
dist/
prediction_model.egg-info/
mlruns/
KivyML/__pycache__/
prediction_model/flask/__pycache__/